:root{
    /* ----- COLORS ----- */
    --donut: #FF784F;
    --enemy: #3A3A3A;
    --border: #3A3A3A;
    --ground_Grass: #90BE6D;
    --bgElements: #fcbf49;

    /* ----- FONTS ----- */
    --titleFont: "Bona Nova"
}
/* ----- GLOBAL ----- */
html{
    font-family: "Comic Sans MS";
    background-color: #a9d6e5;
}

/* ----- HEADER ----- */
h1{
    text-align: center;
    text-decoration: underline;
    font-family: var(--titleFont);
    font-size: 5vmin;
    background-color: var(--bgElements);
    padding: 1.2vmin;
    margin: 1vmin 0;
}h3{
    font-size: 3.5vmin;
    text-align: center;
    text-decoration: underline;
    font-family: "Montserrat";
}
/* ----- MAIN ----- */
.mainGrid{
    display: grid;
    grid: 1fr / 0.45fr 1fr;
    margin: 0 10vmin;
}

/* ----- GAME ----- */
#grid{
    display: grid;
    grid: repeat(8, 1fr) / repeat(8, 1fr);
    border: 1vmin solid var(--border);

    margin: auto;
    width: 70vmin;
    height: 70vmin;
    background-color: var(--ground_Grass);
}

#player{
    background-color: var(--donut);
    border: 1px solid var(--border);
}

.enemy{
    background-color: var(--enemy);
}

/* ----- D-PAD ----- */
.btnMoveSect{
    text-align: center;
    margin: 1vmin 0;
    background-color: var(--bgElements);

}.btnMove{
    border: 0.5vmin solid var(--border);
    font-size: 3vmin;
    margin: 0.5vmin;
}

/* ----- POP-UP / BATTLE ----- */

.arena {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

}.arena-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}.healtBarsDiv{
    width: 70%;
    margin: auto;
    color: var(--border);
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    text-align: center;
}

#playerHealtBar {
    width: 100%;
    background-color: #ddd;
}

.playerHealt {
    height: 30px;
    padding: 2px 8.5vmin;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    width: 60%;
    margin: auto;
}.enemyHealt{
    height: 30px;
    padding: 2px 8.5vmin;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    width: 60%;
    margin: auto;
}#enemyHealt, #playerHealt{
    margin: 0 auto;
}

/* ----- STATS WINDOW ----- */
.statsSect{
    font-family: "Otomanopee One";
    border: 1vmin var(--border) solid;
    background-color: #dddddd;
    margin: 10vmin;
}.statShow{
    margin: 5vmin;
    font-size: 3vmin;
}

/* ----- STATS ----- */